:root{
/* bg color */
    --bg-primary-color:#000000;
    --bg-secondary-color:#222222;
    --bg-active-color:#E9E9E9;
    --bg-danger-color:#FF0000;
    --bg-success-color:#2cc12c;

/*text color*/

--text-primary-color:#d1caca;
--text-secondary-color:#d4cbcb;
--text-tertiary-color:#dbe4db;
--text-active-color:#181818;

/* padding */

--padding-sm:0.5rem;
--padding-md:1rem;
--padding-lg:1.5rem;
--padding-xl:2rem;
--padding-2xl:3rem;

/*gutter*/
--gutter-sm:0.5rem;
--gutter-md:1rem;
--gutter-lg:1.5rem;
--gutter-xl:2rem;
--gutter-2xl:3rem;


/*font size*/
--font-sm:0.875rem;
--font-md:1rem;
--font-lg:1.125rem;
--font-xl:1.25rem;
--font-2xl:1.5rem;

/*borer radius*/
--border-radius-sm:0.25rem;
--border-radius-md:0.5rem;
--border-radius-lg:0.75rem;
--border-radius-xl:1rem;
--border-radius-2xl:1.5rem;


/*Margin*/
--margin-sm:0.5rem;
--margin-md:1rem;
--margin-lg:1.5rem;
--margin-xl:2rem;
--margin-2xl:3rem;

}